@{
    ViewBag.Title = "Our mission";
}
<h2>Our mission</h2>
<hr>
<p>
    <img src="http://media.istockphoto.com/photos/happy-beekeeper-with-honeycomb-picture-id186683019?k=6&m=186683019&s=612x612&w=0&h=0eA7wzwRF89xzzPn5h8f45cCQdlasl7wwUeXSsrifwM=" alt="happy beekeeper" style="margin-left:30px;float:right;width:45%;height:33%;">
    We are here to increase the level of beekeeping. More interesting, easier and more effective way of beekeeping will increase your willingness of beekeeping, increase productivity 
	and will make beekeeping easier. In our work, we use advanced technologies, centered around the reestablishing a caring relationship with nature. 
	Starting by saving the honeybees, we strive to expand our portfolio of innovative products and services and deliver a measurable impact to all farmers. 
	in the broader agricultural sector.<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</p>
