@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<hr>
<address>
    SmartHive<br />
    Bulgaria, Sofia 1700<br />
    <abbr title="Mobile Number">Phone:</abbr>
    +359 89 873 9493 
</address>

<address>
    <strong>Support:</strong> <a href="mailto:smarthivebg@gmail.com">smarthivebg@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:dragomirevgeniev@gmail.com">dragomirevgeniev@gmail.com</a>
</address><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />