@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Smart Hive</h1></center>
    <center><p class="lead">Our way is the smart way</p></center>
    <center>@Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn btn-primary btn-lg"})</center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why SmartHive?</h2>
        <p>
            Bees play a huge role in maintaining the balance of our ecosystems. But their numbers are in decline all over the world.
            A smart digital system allows experienced and novice beekeepers to breed more and healthier bees.
            Smart hive is a powerful platform for monitoring beehives. By choosing us you guarantee yourself an excellent 
            service and 24/7 support.
        </p>
        @Html.ActionLink("Join SmartHive", "Login", "Account", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>Product Info</h2>
        <p>
            A fully integrated hardware and software enterprise resource planning system for any beekeeping operation.
            This smart beehive management system tracks the temperature and humidity of any bee colony.
            Our system delivers remote monitoring capabilities to beekeepers who want to optimize their operations, decrease costs and reduce colony losses.
        </p>
        <p><a class="btn btn-success" href="">Order now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>You can contact us for questions or support 24/7. Just click on the button below. </p>
        <p>@Html.ActionLink("Contact us", "Contact", "Home", null, new { @class= "btn btn-primary"})</p>
    </div>
</div>