@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Smart Hive</h1></center>
    <center><p class="lead">Our way is the smart way</p></center>
    <center>@Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn btn-primary btn-lg"})</center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why SmartHive?</h2>
        <p>
            Smart hive is a powerful platform for monitoring beehives. By choosing us you guarantee yourself an excellent 
            service and 24/7 support.
        </p>
        @Html.ActionLink("Join SmartHive", "Login", "Account", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>Buy devices</h2>
        <p>We offer excellent subscription prices. Check our offers by following the button below</p>
        <p><a class="btn btn-success" href="www.google.com">Subscribe &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>You can contact us for questions or support 24/7. Just click on the button below. </p>
        <p>@Html.ActionLink("Contact us", "Contact", "Home", null, new { @class= "btn btn-primary"})</p>
    </div>
</div>