@model IList<SmartHive.Services.JsonModels.JsonHive>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@foreach (var hive in Model) {
    <h4>Measured At: @hive.CreatedAt</h4>
    <h4>Temperature: @hive.Temperature</h4>
    <h4>Humidity: @hive.Humidity</h4>
}

