@model IList<SmartHive.Services.JsonModels.JsonHive>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@foreach (var hive in Model) {
    <h4>@hive.CreatedAt</h4>
    <h4>@hive.Temperature</h4>
    <h4>@hive.Humidity</h4>
}

