@model IList<SmartHive.Services.JsonModels.JsonHive>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@{
    double[] humids = Model.Select(h => Convert.ToDouble(h.Humidity)).ToArray();
    double[] temps = Model.Select(h => Convert.ToDouble(h.Temperature)).ToArray();
    string[] dates = Model.Select(h => Convert.ToDateTime(h.CreatedAt).ToShortTimeString()).ToArray();
}

@{
    var tempChart = new Chart(width: 600, height: 400)
         .AddTitle("Temperature Chart")
         .AddSeries(
                name: "Temperature",
                xValue: dates,
                yValues: temps
            );

    var humidChart = new Chart(width: 600, height: 400)
        .AddTitle("Humidity Chart")
        .AddSeries(
            name: "Humidity",
            xValue: dates,
            yValues: humids

        );

}

<div class="col-md-6">
    <img src="data:image/png;base64,@Convert.ToBase64String(tempChart.GetBytes("png"))" alt="Alternate Text" />
</div>
<div class="col-md-6">
    <img src="data:image/png;base64,@Convert.ToBase64String(humidChart.GetBytes("png"))" alt="Alternate Text" />
</div>

<h3>Detailed history: </h3>

@foreach (var hive in Model)
{
    <h4><strong>Measured At: @hive.CreatedAt</strong></h4>
    if (hive.Temperature != null)
    {<h4>Temperature: @hive.Temperature</h4>}
    if (hive.Humidity != null)
    {<h4>Humidity: @hive.Humidity</h4>}
    <hr/>
}




