@model SmartHive.Web.Models.ShortHiveViewModel


<h1>asdasdsa</h1>

<div class="container well">
    <h3 class="media-heading">
        @Model.Name
    </h3>
    <h2>rly due</h2>
   
    <ul class="list-inline list-unstyled">
   
    </ul>
</div>
