@model SmartHive.Web.Models.ShortHiveViewModel

<div class="container well">
    <h3 class="media-heading">
        @{ if (Model.isInFunction)
           {
                  @Html.ActionLink(Model.Name, "Details", new { controller = "Hive", id = Model.Id, resultsCount = 10 })
            }
            else
            {
                <p>@Model.Name - <em>Not in function</em></p> 
            }
        }
    </h3>
</div>
