@model SmartHive.Web.Models.ShortHiveViewModel

<div class="container well">
    <h3 class="media-heading">
        @Html.ActionLink(Model.Name, "Details", new { controller = "Hive", id = Model.Id })
    </h3>
</div>
